header {
    overflow: hidden;
    width: 100%
}

#div1 {
    padding-left: 20px;
    height: 100px;
    float: left;
}

#div2 {
    margin-left: 20px;
    height:100px;
    float: left;
}

#logo {
    width:80px; 
    height: 80px; 
    float: left; 
    left: 50px; 
    top: 20px;
}
#Subtitle {
    position: relative;
    bottom:20px;
}

.navbar {
    border: 3px solid blue; 
    background-color: gray; 
    overflow: hidden;  
    width: 100%;   
}

.knjige {
    border-radius: 2px;
    overflow: hidden; 
    float:left; 
    background-color: white;
    margin: 6px 6px 0px 20px;  
}

.knjigex {
    border-radius: 2px;
    overflow: hidden; 
    float:left; 
    background-color: gray;
    margin: 6px 6px 0px 20px;  
}
.njige {
    border-radius: 2px;
    overflow: hidden; 
    float:left; 
    background-color: white;
    margin: 6px 6px 0px 20px;  
}
    
    
.pocetna {
    display: inline;
    float: left;
}
.knjige .knjige_dugme {
   
    font-size: 13pt;
    padding: 4px 6px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    color: purple; 
    float: left;
}

.njige .knjige_dugme {
   
    font-size: 13pt;
    padding: 4px 6px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    color: purple; 
    float: left;
}

.knjige:hover {
    background-color: purple;
}

.knjige:hover a {
    color: white;
}

.njige:hover {
    background-color: purple;
}

.njige:hover .knjige_dugme {
    color: white;
}

.knjigex .knjige_dugme {
   
    font-size: 13pt;
    padding: 4px 6px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    color: purple; 
    float: left;
}

.knjige_linkovi {
    display: none; 
    position: absolute; 
    z-index: 1;
    min-width: fit-content;
    background-color: pink;
}

.knjige_linkovi:hover .knjige_dugme {
    background-color: red;
}

.knjige a {
    border-radius: 3px;
    display: block;
    text-decoration: none;
    font-size: 13pt;
    padding: 4px 6px;
    margin: 0;
    color: purple;
}

.knjigex a {
    border-radius: 3px;
    display: block;
    text-decoration: none;
    font-size: 13pt;
    padding: 4px 6px;
    margin: 0;
    color: purple;
}

.knjige_linkovi a {
    float:none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
}

.knjige_linkovi a:hover {
    background-color: #ddd;
}

.knjige:hover .knjige_linkovi {
    display: block;
}

.knjigex:hover .knjige_linkovi {
    display: block;
}

.kontakt {
    background-color: #ddd;
    margin: 5px;
    text-align: center;
    width: 120px;
    position: absolute;
    left: 50px;
    border: 1px doted black;
    border-radius: 2px;

}
.kontakt .kontakt_dugme {
    display: block;
    float: left;
    color: purple;
    text-align: center;
    border: none;
    font-size: 13pt;
    background-color: inherit;
    font-family: inherit;
    margin-left: 20px;
}

.kontakt_nacini {
    display: none; 
    position: absolute; 
    z-index: 1;
    background-color: pink;
}
.kontakt_nacini:hover .kontakt_dugme {
    background-color: pink;
}

.kontakt_nacini p {
    float:none;
    color: black;
    padding: 2px 6px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.kontakt_nacini p:hover {
    background-color: #ddd;
}

.kontakt:hover .kontakt_nacini {
    display: block;
    position:relative;
}

.rating span {
    color: yellow;
}
.registration {
    margin-top: 80px;
    margin-left: 40px;
    width: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
    border:1px dotted white;
    border-radius: 1px;
}
.registration a {
    text-align: center;
    display: block;
}

.panel:hover .panel{
    background-color: #ddd;
}
ul.razredi li {
    display: inline;
}

.paginator a {
    display: inline;
    text-align: center;
    border-radius: 2px;
}
.identifikacija {
    position: relative;
    left: 630px;
}
.prijava {
    float: left;
}
.prijava p {
    display: inline;
    margin-left: 5px;
}
.odjava {
    float: left;
}
.odjava p {
    display: inline;
    margin-left: 60px;
    margin-top: 20px;
    position: relative;
    top: 10px;
}
.logout_page {
    text-align: center;
    margin: 60px auto;
    width: 50%;
}
#usrform {
    margin-top: 30px;
}
.koment {
    margin-top:  100px;
}
    
    