{% extends "sarklo/layout.html" %}
{% block content %}
    <div style="position: relative; width: 70%; margin-top: 50px; left: 30px;">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Ulogujte se!</legend>
                {{ form.as_p }}
            </fieldset>
            <div>
                <button type="submit">Ulogujte se</button>
            </div>
        </form>
        <div>
            <small>
                Nemate nalog?<a href="{% url 'register' %}">Registrujte se!</a>
            </small>
        </div>
    </div>
{% endblock content %}