{% load static %}

<!DOCTYPE html>

<html>

<head>
  
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
      
  <link rel="stylesheet" type ="text/css" href="{% static 'sarklo/style.css' %}">
  
  {% block style %}
  {% endblock %}
      
  {% if title %}
      <title>Sarklo Akrobata - {{ title }}</title>
  {% else %}
      <title>Sarklo Akrobata</title>
  {% endif %}
  
</head>

<body style="height: 1300px;">

  <header>
    <div id="div1">
      <img id="logo" src="{% static 'Sarklo\sarklo1.jpeg' %}"/>
    </div>
    <div id="div2">
      <h1 style="text-align:center; color: purple; font-family: 'Work Sans', sans-serif;">Šarklo Akrobata</h1>
      <h3 id="Subtitle" style="text-align:center; color: pink; word-spacing: 5px;">Internet Prodavnica Korišćenih Stvari i Rukotvorina</h3>
    </div>
    
  </header>
  <div class="navbar">
    <div class="knjige">
      <a href="/" style="display: block; text-decoration: none; font-size: 13pt; padding: 4px 6px; background-color: inherit; font-family: inherit; margin: 0px; color: purple;">Početna</a>
    </div>
    <div class="knjige">
      <div>
          <div class="knjige_dugme">Knjige</div>
          <img src="{% static 'Sarklo\caret-down.png' %}" style="display: block; padding: 10px 2px; width: 10px; height: 8px;"/>
      </div>
      <div class="knjige_linkovi">
        <a href="/skolske">Skolske</a>
        <a href="{% url 'shop-beletristika' %}">Beletristika</a>
      </div>
    </div>
    <div class="knjige">
      <div>
        <div class="knjige_dugme">Odeća</div>
        <img src="{% static 'Sarklo\caret-down.png' %}" style="display: block; padding: 10px 2px; width: 10px; height: 8px;"/>
      </div>
      <div class="knjige_linkovi">
        <a href="{% url 'shop-odeca-muska' %}">Muška</a>
        <a href="{% url 'shop-odeca-zenska' %}">Zenska</a>
      </div>
    </div>
    <div class="knjige">
      <div>
        <div class="knjige_dugme">Obuća</div>
        <img src="{% static 'Sarklo\caret-down.png' %}" style="display: block; padding: 10px 2px; width: 10px; height: 8px;"/>
      </div>
      <div class="knjige_linkovi">
        <a href="">Muška</a>
        <a href="">Zenska</a>
      </div>
    </div>
    <div class="knjige" >
      <a href='#'>Tehnika</a>
    </div>
    <div class="knjige">
      <a href="#">Igračke</a>
    </div>
    <div class="knjige">
      <a href="/">Rukotvorine</a>
    </div>
    <div class="knjige">
      <a href="/komentari">Komentari</a>
    </div>
    <div style=" float:right; margin-right:50px; margin-top:10px; margin-bottom: 10px;">
        <form method="GET" action="">
            <input id="search-field" type="text" name="q">
            <input id="search-btn" type="submit" value="pretraži">
        </form>
    </div>
  </div>
  <div style="clear: left; border-color: blue; height: 1600px; width: 15%; float:left; background-color: gray;">
    <ul style="list-style: none; margin-top: 30px;">
      <li style="border: 1px dotted white; border-radius: 3px; padding: 5px 0px; position: relative; right: 20px; color: purple; font: times new roman; font-size: 14pt; text-align:center;"><a href="" style="text-decoration: none;">Vesti</a></li><br>
      <!--<li class="panel" style="border: 1px dotted white; position: relative; right: 30px; color: purple; font: cambria; font-size: 14pt; text-align:center;"><a href="/postavi_oglas" style=" text-decoration: none;">Postavi oglas</a></li><br><br>-->
      <li style="border: 1px dotted white; border-radius: 3px; padding: 5px 0px; position: relative; right: 20px; color: purple; font: cambria; font-size: 14pt; text-align:center;"><a href="" style=" text-decoration: none;">Doniraj</a></li>
    </ul><br>
    <div class="kontakt">
      <div class="kontakt_dugme">Kontakt</div>
      <img src="{% static 'Sarklo\caret-down.png' %}" style="display: block; margin-left: 5px; padding: 8px 3px; width: 10px; height: 8px;"/>
      <div class="kontakt_nacini">
        <p style="text-align: center; color: purple; font: cambria; font-size: 14pt;"><span>Telefon:</span><br>064-460-5555</p>
        <p style="text-align: center; color: purple; font: cambria; font-size: 12pt;"><span>Email:</span><br>pedja.matijevic<br>1979<br>@gmail.com</p>                                                                                                                          
      </div>
    </div>
    <div class="registration">
        <p style="text-align: center; color: yellow;">Besplatna dostava na području Beograda!</p>
        <p></p>
    </div>
  </div>
   {% block content %} {% endblock content %}
  
  
  <!<footer style="position: relative; top: 300px; border: 1px dotted; black; background-color: #ddd; width: 80%; height: 100px;">
      
  <!</footer>
  
</body>

</html>
