{% load static %}

<!DOCTYPE html>

<html>

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content ="width=device-width, initial-scale=1.0">
  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
      
  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
      
  <link rel="stylesheet" type ="text/css" href="{% static 'sarklo/style.css' %}">
  <script type="text/javascript">
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      }
  </script>
  
  {% block style %}
  {% endblock %}
      
  {% if title %}
      <title>Sarklo Akrobata - {{ title }}</title>
  {% else %}
      <title>Sarklo Akrobata</title>
  {% endif %}
  
</head>

<body style="height: 1300px; background-color: #FAFAFA;">

  <header>
    <div id="div1">
      <img id="logo" src="{% static 'Sarklo\sarklo1.jpeg' %}"/>
    </div>
    <div id="div2">
      <h1 style="text-align:center; color: purple; font-family: 'Work Sans', sans-serif;">Šarklo Akrobata</h1>
      <h3 id="Subtitle" style="text-align:center; color: pink; word-spacing: 5px;">Internet Prodavnica Korišćenih Stvari i Rukotvorina</h3>
    </div>
    <div class="identifikacija">
        {% if user.is_authenticated %}
            <div class="odjava">
                <p><a href="{% url 'logout' %}">Odjavite se</a></p>
            </div>
            <img id="cart" src="{% static 'sarklo/cart.png' %}"/>
        {% else %}
            <div class="prijava">
                <p><a href="{% url 'login' %}">Prijavite se</a></p>
                <p><a href="{% url 'register' %}">Registrujte se</a></p>
            </div>
        {% endif %}
    </div>
    
  </header>
  <div class="navbar">
      {% if current_page == 'index' %}
          <div class="knjigex">
              <a href="/" style="display: block; text-decoration: none; font-size: 13pt; padding: 4px 6px; background-color: inherit; font-family: inherit; margin: 0px; color: purple;">Početna</a>
          </div>
      {% elif current_page != "index" %}
          <div class="knjige">
              <a href="/" style="display: block; text-decoration: none; font-size: 13pt; padding: 4px 6px; background-color: inherit; font-family: inherit; margin: 0px;">Početna</a>
          </div>
      {% endif %}
      {% if current_page == "knjige" %}
        <div class="knjigex">
          <div>
            <div class="knjige_dugme">Knjige</div>
            <img src="{% static 'Sarklo\caret-down.png' %}" style="display: block; padding: 10px 2px; width: 10px; height: 8px;"/>
          </div>
          <div class="knjige_linkovi">
            <a href="/skolske">Skolske</a>
            <a href="{% url 'shop-beletristika' %}">Beletristika</a>
          </div>
        </div>
      {% elif current_page != "knjige" %}
        <div class="njige">
          <div>
            <div class="knjige_dugme">Knjige</div>
            <img src="{% static 'Sarklo\caret-down.png' %}" style="display: block; padding: 10px 2px; width: 10px; height: 8px;"/>
          </div>
          <div class="knjige_linkovi">
            <a href="/skolske">Skolske</a>
            <a href="{% url 'shop-beletristika' %}">Beletristika</a>
          </div>
        </div>
      {% endif %}
      {% if current_page == "odeca" %}
        <div class="knjigex">
          <div>
            <div class="knjige_dugme">Odeća</div>
            <img src="{% static 'Sarklo\caret-down.png' %}" style="display: block; padding: 10px 2px; width: 10px; height: 8px;"/>
          </div>
          <div class="knjige_linkovi">
            <a href="{% url 'shop-odeca-muska' %}">Muška</a>
            <a href="{% url 'shop-odeca-zenska' %}">Zenska</a>
          </div>
        </div>
      {% elif current_page != "odeca" %}
        <div class="njige">
          <div>
            <div class="knjige_dugme">Odeća</div>
            <img src="{% static 'Sarklo\caret-down.png' %}" style="display: block; padding: 10px 2px; width: 10px; height: 8px;"/>
          </div>
          <div class="knjige_linkovi">
            <a href="{% url 'shop-odeca-muska' %}">Muška</a>
            <a href="{% url 'shop-odeca-zenska' %}">Zenska</a>
          </div>
        </div>
      {% endif %}
      {% if current_page == "obuca" %}
        <div class="knjigex">
          <div>
            <div class="knjige_dugme">Obuća</div>
            <img src="{% static 'Sarklo\caret-down.png' %}" style="display: block; padding: 10px 2px; width: 10px; height: 8px;"/>
          </div>
          <div class="knjige_linkovi">
            <a href="{% url 'shop-obuca-muska' %}">Muška</a>
            <a href="{% url 'shop-obuca-zenska' %}">Zenska</a>
          </div>
        </div>
      {% elif current_page != "obuca" %}
        <div class="njige">
          <div>
            <div class="knjige_dugme">Obuća</div>
            <img src="{% static 'Sarklo\caret-down.png' %}" style="display: block; padding: 10px 2px; width: 10px; height: 8px;"/>
          </div>
          <div class="knjige_linkovi">
            <a href="{% url 'shop-obuca-muska' %}">Muška</a>
            <a href="{% url 'shop-obuca-zenska' %}">Zenska</a>
          </div>
        </div>
      {% endif %}
    
    {% if current_page == 'tehnika' %}
        <div class="knjigex">
          <a href='{% url "shop-tehnika" %}' style="display: block; text-decoration: none; font-size: 13pt; padding: 4px 6px; background-color: inherit; font-family: inherit; margin: 0px; color: purple;">Tehnika</a>
        </div>
    {% elif current_page != 'tehnika' %}
        <div class="knjige">
          <a href='{% url "shop-tehnika" %}' >Tehnika</a>
        </div>
    {% endif %}
    {% if current_page == 'igracke' %}
        <div class="knjigex">
            <a href="{% url 'shop-igracke' %}" style="display: block; text-decoration: none; font-size: 13pt; padding: 4px 6px; background-color: inherit; font-family: inherit; margin: 0px; color: purple;">Igračke</a>
        </div>
    {% elif current_page != 'igracke' %}
        <div class="knjige">
            <a href="{% url 'shop-igracke' %}">Igračke</a>
        </div>
    {% endif %}
    {% if current_page == 'rukotvorine' %}
        <div class="knjigex">
          <a href="{% url 'shop-rukotvorine' %}" style="display: block; text-decoration: none; font-size: 13pt; padding: 4px 6px; background-color: inherit; font-family: inherit; margin: 0px; color: purple;">Rukotvorine</a>
        </div>
    {% elif current_page != 'rukotvorine' %}
        <div class="knjige">
          <a href="{% url 'shop-rukotvorine' %}">Rukotvorine</a>
        </div>
    {% endif %}
    {% if current_page == "komentar" %}
        <div class="knjigex">
          <a href="{% url 'shop-komentari' %}" style="display: block; text-decoration: none; font-size: 13pt; padding: 4px 6px; background-color: inherit; font-family: inherit; margin: 0px; color: purple;">Komentari</a>
        </div>
    {% elif current_page != "komentari" %}
        <div class="knjige">
          <a href="{% url 'shop-komentari' %}">Komentari</a>
        </div>
    {% endif %}
    <div style=" float:right; margin-right:50px; margin-top:10px; margin-bottom: 10px;">
        <form method="GET" action="">
            <input id="search-field" type="text" name="q">
            <input id="search-btn" type="submit" value="pretraži">
        </form>
    </div>
  </div>
  <div class="side">
    <ul class="vesti">
      <li><a href="" style="text-decoration: none;">Vesti</a></li><br>
      <!--<li class="panel" style="border: 1px dotted white; position: relative; right: 30px; color: purple; font: cambria; font-size: 14pt; text-align:center;"><a href="/postavi_oglas" style=" text-decoration: none;">Postavi oglas</a></li><br><br>-->
      <li style="border: 1px dotted white; border-radius: 3px; padding: 5px 0px; position: relative; right: 20px; color: purple; font: cambria; font-size: 14pt; text-align:center;"><img src="{% static 'sarklo/heart_icon.png' %}" style="position: relative; right: 10px; width: 13px; height: 13px; margin-right: 5px;"/><a href="" style="text-decoration: none; text-align: center; margin-right: 20px;">Doniraj</a></li>
    </ul><br>
    <div class="kontakt">
      <div class="kontakt_dugme">Kontakt</div>
      <img src="{% static 'Sarklo\caret-down.png' %}" style="display: block; margin-left: 5px; padding: 8px 8px; width: 10px; height: 8px;"/>
      <div class="kontakt_nacini">
        <p style="text-align: center; color: purple; font: cambria; font-size: 14pt;"><span>Telefon:</span><br>064-460-5555</p>
        <p style="text-align: center; color: purple; font: cambria; font-size: 12pt;"><span>Email:</span><br>pedja.matijevic<br>1979<br>@gmail.com</p>                                                                                                                          
      </div>
    </div>
    <div class="registration">
        <p style="text-align: center; color: yellow;">Besplatna dostava na području Beograda!</p>
        <p></p>
    </div>
  </div>
  {% if messages %}
      {% for message in messages %}
          {{ message }}
      {% endfor %}
  {% endif %}
  
   {% block content %} {% endblock content %}
  
  
  <div style="clear:both;">
      <div id="icon">
          Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> 
          from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
  </div>
  
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
  </body>
</body>

</html>
