{% extends "sarklo/layout.html" %}
{% load static %}
{% block content %}
        
    <div style="width: 70%; height: 900px; border: 1px solid black; float: left; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left: 75px; margin-bottom: 50px; margin-top: 80px;">
        <div class="container">
            <div style="width: 320px; height: 300px;">
                <img src='{{ oglas.slika.url }}' style="display:block; margin-top: 10px; margin-right: auto; margin-left: auto;">
            </div>
            <div style="position: relative; left: 40px;">
                <p style="margin-left: 10px;"><strong>{{ oglas.naslov }}</strong></p>
                <p style="margin-left: 10px;">stanje: {{ oglas.stanje }}</p>
                <p style="margin-left: 10px;">cena: {{ oglas.cena }}</p>
                <p style="margin-left: 10px;">{{ oglas.opis }}</p>
            </div>
            <div style="width: 50%; margin: 0 auto;">
                <form method="POST">
                    <button style="width: 60%; height 15%; background-color: pink; padding: 5px;" type="submit">Stavi u korpu</button>
                </form>
            </div>
        </div>
        <div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
          <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src='{% static "sarklo/knjiga1.jpeg" %}' style="width:100%">
            <div class="text">Caption Text</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src='{% static "sarklo/sarklo1.jpeg" %}' style="width:100%">
            <div class="text">Caption Two</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src='{% static "sarklo/shoes.jpg" %}' style="width:100%">
            <div class="text">Caption Three</div>
          </div>

          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

      <!-- The dots/circles -->
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
    </div>

        
{% endblock content %}

<!-- Slideshow container -->
